{% extends 'base.html' %}
{%block title%} FlyCash {%endblock title%}


{% block content %}
    <header>
        <nav>
        </nav>
    </header>
    <section class="form-div">
        <h1>
            Login
        </h1>
       <form method="post">
        <label for="login-email">Email</label>
        <input type="email" name="email" id="login-email" placeholder="email@domain.com" required>
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password" placeholder="****">
           <a id="forget-password"> Esqueceu a Senha?</a>
        <input type="submit" value="ENTRAR">
       </form>

    </section>

{% endblock content %}