{% extends 'base.html' %}
{%block title%} FlyCash {%endblock title%}


{% block content %}
    <header>
        <nav>
        </nav>
    </header>
    <section class="form-div account">
        <h1>
            Register
        </h1>
       <form method="post">
        <label for="account-name">Primeiro Nome</label><br>
           <input name="accountName" id="account-name" placeholder="Nome da Conta">
        <p>Tipo de Conta</p>
        <label for="account-type corrente">Corrente</label>
            <input type="radio" name="accountType" id="account-type corrente" required>
        <label for="account-type poupanca">Poupança</label>
            <input type="radio" name="accountType" id="account-type poupanca" required>
        <label for="credit-limit">Limite de Crédito</label>
            <input type="text" name="creditLimit" id="credit-limit" placeholder="R$00,00">
        <label for="credit-date">Data de Vencimento</label>
           <input type="date" name="creditDate" id="credit-date">
        <input type="submit" value="ENTRAR">
       </form>

    </section>

{% endblock content %}